@use "variables" as var;
@use "mixins";

.contact {
  @include mixins.for-size(desktop) {
    flex-direction: row;
    justify-content: space-around;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 30px 30px;
  font-family: var.$primaryfont;

  li {
    list-style: none;
    color: white;
    padding: 10px;
  }

  &__social:hover {
    cursor: pointer;
  }
}
