@use "navigation";
@use "mixins";
@use "variables" as var;

body {
  margin: 0;
}

.start {
  @include mixins.start_img;
  height: 100vh;

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var.$primaryfont;
    margin-top: 20vh;
    padding: 0% 25%;
    color: rgb(255, 255, 255);

    h3,
    p {
      padding: 20px;
    }
  }
  .arrow_dwn {
    margin-top: 20vh;
    @include mixins.arrow(white);
  }
}
