@use "variables" as var;
@use "mixins";

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var.$secondarycolor;
  margin-top: 10px;
}

.contact {
  @include mixins.for-size(tablet) {
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px;
  font-family: var.$primaryfont;
  font-size: 1rem;

  li {
    text-align: start;
    list-style: none;
    color: var.$primarycolor;
    padding: 10px;

    .fa-brands {
      margin-right: 10px;
    }
  }
  &__social {
    a {
      color: var.$primarycolor;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
